h1 {
    background-color: rosybrown;
    color: rgb(76, 55, 209);
}

h3 {
    background-color: rgb(175, 161, 161);
    color: rgb(127, 115, 204);
}

ul {
    background-color: rgb(179, 83, 83);
    color: rgb(29, 15, 116);
}

ol {
    background-color: rgb(110, 11, 11);
    color: rgb(148, 144, 175);
}

img {
    width: 300px;
    height: 300px;
}